<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ page.description }}">
    {%if page.categories %}
<meta name="keywords" content="{{ page.categories | join: ', ' | escape }}"/>
{%endif %}
    <meta name="author" content="{{ page.author }}">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  </head>
  <body>
    {% include site_header.html %}
    <main>
        {{ content }}
    </main>
  </body>
</html>
