<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    {% include site_header.html %}
    <article>
      <time datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time>
      {{ content }}
    </article>
  </body>
</html>
